<a href="https://colab.research.google.com/github/SariNanda42/Python-Learning-Journey-Python-for-Biggener/blob/main/Data_Manipulation_With_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# series
number_list = pd.Series([5,6,7,8,9,0])
print("Series:")
print(number_list)

Series:
0    5
1    6
2    7
3    8
4    9
5    0
dtype: int64

In [ ]:
# Data Frame 
matrix = [[7, 8, 9, 0],
          ['a','b','c','d','e'],
          [6, 7, 8],
          ['d', 6,7,8]]
matrix_list= pd.DataFrame(matrix)
print("DataFrame")
print(matrix_list)

DataFrame
   0  1  2     3     4
0  7  8  9     0  None
1  a  b  c     d     e
2  6  7  8  None  None
3  d  6  7     8  None

Atribut Data Frame dan Series Part I

In [ ]:
import pandas as pd
# Series
number_list = pd.Series([5,6,7,8,9])
matrix_list = pd.DataFrame([[7, 8, 9, 0],
          ['a','b','c','d','e'],
          [6, 7, 8],
          ['d', 6,7,8]])

In [ ]:
# method.info
print("[1] method.info()")
print(matrix_list.info())

[1] method.info()
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      object
 1   1       4 non-null      object
 2   2       4 non-null      object
 3   3       3 non-null      object
 4   4       1 non-null      object
dtypes: object(5)
memory usage: 288.0+ bytes
None

In [ ]:
# atribut .shape
print("\n[2] attribute.shape")
print("   Shape dari number_list :", number_list.shape)
print("   Shape dari matrix_list :",matrix_list.shape)

[2] attribute.shape
   Shape dari number_list : (5,)
   Shape dari matrix_list : (4, 5)

In [ ]:
# attribute .dtypes
print("\n[2] attribute.dtypes")
print("   dtypes dari number_list :", number_list.dtypes)
print("   dtypes dari matrix_list :", matrix_list.dtypes)

[2] attribute.dtypes
   dtypes dari number_list : int64
   dtypes dari matrix_list : 0    object
1    object
2    object
3    object
4    object
dtype: object

In [ ]:
# method .astype()
print("\n[2] attribute.astype()")
print("   astype dari number_list :", number_list.astype("str"))
print("   astype dari matrix_list :", matrix_list.astype("str"))

[2] attribute.astype()
   astype dari number_list : 0    5
1    6
2    7
3    8
4    9
dtype: object
   astype dari matrix_list :    0  1  2     3     4
0  7  8  9     0  None
1  a  b  c     d     e
2  6  7  8  None  None
3  d  6  7     8  None

Attribute DataFrame dan Series Part II

In [ ]:
import pandas as pd
# Series
number_list = pd.Series([5,6,7,8,9])
matrix_list = pd.DataFrame([[7, 8, 9, 0],
          ['a','b','c','d','e'],
          [6, 7, 8],
          ['d', 6,7,8]])

In [ ]:
# Attribute .copy()
print("[5] attribute.copy()")
num_list = number_list.copy()
print("Copy number_list ke num_list :", num_list)
mtr_list = matrix_list.copy()
print("Copy matrix_list ke mtr_list :", mtr_list)

[5] attribute.copy()
Copy number_list ke num_list : 0    5
1    6
2    7
3    8
4    9
dtype: int64
Copy matrix_list ke mtr_list :    0  1  2     3     4
0  7  8  9     0  None
1  a  b  c     d     e
2  6  7  8  None  None
3  d  6  7     8  None

In [ ]:
# Attribute.to_list()
print(number_list)
print(number_list.to_list())

0    5
1    6
2    7
3    8
4    9
dtype: int64
[5, 6, 7, 8, 9]

In [ ]:
# Attribute .unique()
print(number_list.unique())

[5 6 7 8 9]

Attribute DataFrame Part III

In [ ]:
import pandas as pd
number_list = pd.Series([5,6,7,8,9])
matrix_list = pd.DataFrame([[7, 8, 9, 0],
          ['a','b','c','d','e'],
          [6, 7, 8],
          ['d', 6,7,8]])

In [ ]:
# Attribute .index
print("[8] Attribute .index")
print("   Index number_list :", number_list.index)
print("   Index matrix_list :", matrix_list.index)

[8] Attribute .index
   Index number_list : RangeIndex(start=0, stop=5, step=1)
   Index matrix_list : RangeIndex(start=0, stop=4, step=1)

In [ ]:
# Attribue .columns 
print("[9] Attribute .columns")
print("   columns number_list :", number_list)
print("   columns matrix_list :", matrix_list)

[9] Attribute .columns
   columns number_list : 0    5
1    6
2    7
3    8
4    9
dtype: int64
   columns matrix_list :    0  1  2     3     4
0  7  8  9     0  None
1  a  b  c     d     e
2  6  7  8  None  None
3  d  6  7     8  None

In [ ]:
# Attribute .loc
print("[10] Attribute .loc")
print("   loc number_list :", number_list.loc[0:1])
print("   loc matrix_list :", matrix_list.loc[0:1])

[10] Attribute .loc
   loc number_list : 0    5
1    6
dtype: int64
   loc matrix_list :    0  1  2  3     4
0  7  8  9  0  None
1  a  b  c  d     e

In [ ]:
# Attribute .iloc
print("[11] Attribut .iloc")
print("   iloc number_list :", number_list.iloc[0:1])
print("   iloc matrix_list :", matrix_list.iloc[0:1])

[11] Attribut .iloc
   iloc number_list : 0    5
dtype: int64
   iloc matrix_list :    0  1  2  3     4
0  7  8  9  0  None

Creating Series & Data Frame from list

In [ ]:
import pandas as pd
# Creating series from list
ex_list = ['a', 1, 5, 6, 'e', 'c']
ex_series = pd.Series(ex_list)
print(ex_series)

0    a
1    1
2    5
3    6
4    e
5    c
dtype: object

In [ ]:
# Creating series from DataFrame
ex_list_of_list =  [[1, 'a', 'b', 'c'],
                   [2.5 , 'd', 'e', 'f'],
		           [5, 'g', 'h', 'i'],
		           [7.5, 'j', 10.5, 'l']]
index = ['dq', 'lab', 'kar', 'lan']
cols = ['float', 'char', 'obj', 'char']
ex_df = pd.DataFrame(ex_list_of_list, index=index, columns=cols)
print(ex_df)

     float char   obj char
dq     1.0    a     b    c
lab    2.5    d     e    f
kar    5.0    g     h    i
lan    7.5    j  10.5    l

Creating Series & DataFrame from Dictionary

In [ ]:
import pandas as pd 
# Creating Series from Dictionary 
dict_series = {'1' : 'a', 
               '2' : 'b',
               '5' : 'c'}
ex_series = pd.Series(dict_series)
print(ex_series)

1    a
2    b
5    c
dtype: object

In [ ]:
# Creating DataFrame from Dictionary
df_series = {'1' : ['a', 'b', 'c'], 
             '2' : ['d', 'e', 'f'],
             '5' : [2,5, 'z']}
ex_df = pd.DataFrame(df_series)
print(ex_df)

   1  2  5
0  a  d  2
1  b  e  5
2  c  f  z

Creating Series & DataFrame from Numpy array

In [ ]:
import pandas as pd
import numpy as np
# Creating series from numpy array(1D)
arr_series = np.array([1,2,5,6,7,8,9,10])
ex_series = pd.Series(arr_series)
print(ex_series)

0     1
1     2
2     5
3     6
4     7
5     8
6     9
7    10
dtype: int64

In [ ]:
# Creating series from numpy array (2D)
arr_df = np.array([[1  ,2  ,3  ,5],
                   [5  ,6  ,7  ,8],
                   ['a','b','c',10]])
ex_df = pd.DataFrame(arr_df)
print(ex_df)

   0  1  2   3
0  1  2  3   5
1  5  6  7   8
2  a  b  c  10

Indexing

In [ ]:
import pandas as pd
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv")
print(df.index)
print(df.columns)

RangeIndex(start=0, stop=101, step=1)
Index(['order_id\torder_date\tcustomer_id\tcity\tprovince\tproduct_id\tbrand\tquantity\titem_price'], dtype='object')

Indexing Part II

In [ ]:
import pandas as pd
df= pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t")
df_x = df.set_index(['order_date','city','customer_id' ])
for name, level in zip(df_x.index.names, df_x.index.levels):
    print(name, ':' , level)

order_date : Index(['2019-01-01'], dtype='object', name='order_date')
city : Index(['Bogor', 'Jakarta Pusat', 'Jakarta Selatan', 'Jakarta Utara',
       'Makassar', 'Malang', 'Surabaya', 'Tangerang'],
      dtype='object', name='city')
customer_id : Int64Index([12681, 13963, 15649, 17091, 17228, 17450, 17470, 17511, 17616,
            18055],
           dtype='int64', name='customer_id')

Indexing Part III

In [ ]:
import pandas as pd
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t", nrows=10)
print("Dataframe awal:\n", df)
df.index = ["pesanan ke-" + str(i) for i in range (1,11)]
print("Dataframe dengan index baru :\n", df.index)

Dataframe awal:
    order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508
3   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0520
4   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1513
5   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3911
6   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1780
7   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3132
8   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1342
9   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P2556

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000
3  BRAND_B        12      450000
4  BRAND_G         3     1500000
5  BRAND_V         3     2095000
6  BRAND_H         3     2095000
7  BRAND_S         3     1745000
8  BRAND_F         6     1045000
9  BRAND_P         6     1045000
Dataframe dengan index baru :
 Index(['pesanan ke-1', 'pesanan ke-2', 'pesanan ke-3', 'pesanan ke-4',
       'pesanan ke-5', 'pesanan ke-6', 'pesanan ke-7', 'pesanan ke-8',
       'pesanan ke-9', 'pesanan ke-10'],
      dtype='object')

Indexing Part IV

In [ ]:
import pandas as pd
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t", index_col =["order_date","order_id"])
print(df.head())

                     customer_id             city     province product_id  \
order_date order_id
2019-01-01 1612339         18055  Jakarta Selatan  DKI Jakarta      P0648
           1612339         18055  Jakarta Selatan  DKI Jakarta      P3826
           1612339         18055  Jakarta Selatan  DKI Jakarta      P1508
           1612339         18055  Jakarta Selatan  DKI Jakarta      P0520
           1612339         18055  Jakarta Selatan  DKI Jakarta      P1513

                       brand  quantity  item_price
order_date order_id
2019-01-01 1612339   BRAND_C         4     1934000
           1612339   BRAND_V         8      604000
           1612339   BRAND_G        12      747000
           1612339   BRAND_B        12      450000
           1612339   BRAND_G         3     1500000

Slicing Part I (method.loc)

In [ ]:
import pandas as pd
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
df_slice = df.loc[(["customer_id"] == 18055) & (df["product_id"].isin(["P0029", "P0040", "P0041", "P0116", "P0117"]))]
print(df_slice)

Empty DataFrame
Columns: [order_id, order_date, customer_id, city, province, product_id, brand, quantity, item_price]
Index: []

Slicing Part II based on index (method.set_index)

In [ ]:
import pandas as pd
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
# Set Index
df = df.set_index(["order_date","order_id", "product_id"])
# Slice
df_slice = df.loc[("2019-01-01", 1612339, ["P2154","P2159"]),:]
print(df_slice)

                                customer_id             city     province  \
order_date order_id product_id
2019-01-01 1612339  P2154             18055  Jakarta Selatan  DKI Jakarta
                    P2159             18055  Jakarta Selatan  DKI Jakarta

                                  brand  quantity  item_price
order_date order_id product_id
2019-01-01 1612339  P2154       BRAND_M         4     1745000
                    P2159       BRAND_M        24      310000

Transforming Part I

In [ ]:
import pandas as pd
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
print("Tipe data df:\n", df.dtypes)
df["order_date"] = pd.to_datetime(df["order_date"])
print(df["order_date"].head())

Tipe data df:
 order_id        int64
order_date     object
customer_id     int64
city           object
province       object
product_id     object
brand          object
quantity        int64
item_price      int64
dtype: object
0   2019-01-01
1   2019-01-01
2   2019-01-01
3   2019-01-01
4   2019-01-01
Name: order_date, dtype: datetime64[ns]

Transforming Part II

In [ ]:
import pandas as pd
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
print(df.dtypes)
print(df["quantity"].head())
df["quantity"] = pd.to_numeric(df["quantity"], downcast = "float")
print(df["quantity"].head())
print(df["city"].head())
df["city"] = df["city"].astype("category")
print(df["city"].head())

order_id        int64
order_date     object
customer_id     int64
city           object
province       object
product_id     object
brand          object
quantity        int64
item_price      int64
dtype: object
0     4
1     8
2    12
3    12
4     3
Name: quantity, dtype: int64
0     4.0
1     8.0
2    12.0
3    12.0
4     3.0
Name: quantity, dtype: float32
0    Jakarta Selatan
1    Jakarta Selatan
2    Jakarta Selatan
3    Jakarta Selatan
4    Jakarta Selatan
Name: city, dtype: object
0    Jakarta Selatan
1    Jakarta Selatan
2    Jakarta Selatan
3    Jakarta Selatan
4    Jakarta Selatan
Name: city, dtype: category
Categories (8, object): ['Bogor', 'Jakarta Pusat', 'Jakarta Selatan', 'Jakarta Utara',
                         'Makassar', 'Malang', 'Surabaya', 'Tangerang']

Transforming Part III (method.apply) & (method.map()

In [ ]:
import pandas as pd
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
# Cetak 5 baris teratas dari kolom brand
print("Kolom brand awal:\n", df["brand"].head())
# Ubah kolom brand menjadi lower case
df["brand"] = df["brand"].apply(lambda x : x.lower())
print("Kolom brand setelah di lower case :\n", df["brand"].head())
# Mengambil kode brand(karakter terakhir)
df["brand"] = df["brand"].map(lambda x : x[-1])
print("Kolom brand setelah dimap :\n", df["brand"].head())

Kolom brand awal:
 0    BRAND_C
1    BRAND_V
2    BRAND_G
3    BRAND_B
4    BRAND_G
Name: brand, dtype: object
Kolom brand setelah di lower case :
 0    brand_c
1    brand_v
2    brand_g
3    brand_b
4    brand_g
Name: brand, dtype: object
Kolom brand setelah dimap :
 0    c
1    v
2    g
3    b
4    g
Name: brand, dtype: object


Penggabungan Series Data Frame Beberapa Cara menggabungkan Series/Data Frame


1.   method.append()

In [ ]:
import pandas as pd
# Buat Series int dan string
s1 = pd.Series([5,6,7,8,9,10])
s2 = pd.Series(['a','b','c','d','d','f'])
append_s1_s2 = s1.append(s2)
print("hasil append \n ", append_s1_s2)

hasil append
  0     5
1     6
2     7
3     8
4     9
5    10
0     a
1     b
2     c
3     d
4     d
5     f
dtype: object

In [ ]:
# Buat Series Data Frame 
df1 = pd.DataFrame({'a' : [1,2], 'b' : [5,6]})
df2 = pd.DataFrame({'b' : [1,2], 'a' : [5,6]})
append_df1_df2 = df1.append(df2)
print(df1)
print(df2)
print("Hasil append \n", append_df1_df2)

   a  b
0  1  5
1  2  6
   b  a
0  1  5
1  2  6
Hasil append
    a  b
0  1  5
1  2  6
0  5  1
1  6  2

Method .concat()

In [ ]:
import pandas as pd
df1 = pd.DataFrame({'a' : [1,2], 'b' : [5,6]})
df2 = pd.DataFrame({'b' : [1,2], 'a' : [5,6]})

# Terapkan method concat row-wise
row_wise_concat = pd.concat([df1,df2])
print("Row wise - concat :\n", row_wise_concat)

Row wise - concat :
    a  b
0  1  5
1  2  6
0  5  1
1  6  2

In [ ]:
# Terapkan method concat column-wise
col_wise_concat = pd.concat([df1,df2], axis =1)
print("column_wise_concat :\n", col_wise_concat)

column_wise_concat :
    a  b  b  a
0  1  5  1  5
1  2  6  2  6

In [ ]:
# Penambahan Identifier --> untuk membentuk hasil penggabungan multi index
multiindex_concat = pd.concat([df1,df2], axis=0, keys= ["df1","df2"])
print("multi index concat :\n", multiindex_concat)

multi index concat :
        a  b
df1 0  1  5
    1  2  6
df2 0  5  1
    1  6  2

Method .merge() part I (left,right,inner,outer)italicized text

In [ ]:
import pandas as pd
# Data frame df1 df2 
df1 = pd.DataFrame({'key': ['k5','k6','k7','k8','k9'], 
                    'val1': [200, 500, 0, 500, 100], 
                    'val2' : [20,50,100, 20, 10]})
df2 = pd.DataFrame({'key': ['k1','k4','k5','k7','k10'], 
                    'val3' :[5, 6, 7, 8, 9], 
                    'val4' : [10,11,12,15,16]})
print('hasil df1 dan df2  :\n', df1,df2)

hasil df1 dan df2  :
   key  val1  val2
0  k5   200    20
1  k6   500    50
2  k7     0   100
3  k8   500    20
4  k9   100    10    key  val3  val4
0   k1     5    10
1   k4     6    11
2   k5     7    12
3   k7     8    15
4  k10     9    16

In [ ]:
# Merge yang eqivalen dgn sql left join
merge_df_left = pd.merge(left=df1, right=df2, how = 'left', left_on = 'key', right_on ='key')
print('Merge - Left \n :', merge_df_left)

Merge - Left
 :   key  val1  val2  val3  val4
0  k5   200    20   7.0  12.0
1  k6   500    50   NaN   NaN
2  k7     0   100   8.0  15.0
3  k8   500    20   NaN   NaN
4  k9   100    10   NaN   NaN

In [ ]:
# Merge yang eqivalen dengan sql right join
merge_df_right = pd.merge(left=df1, right=df2, how='right', left_on='key', right_on='key')
print('Merge -right \n :', merge_df_right)

Merge -right
 :    key   val1   val2  val3  val4
0   k1    NaN    NaN     5    10
1   k4    NaN    NaN     6    11
2   k5  200.0   20.0     7    12
3   k7    0.0  100.0     8    15
4  k10    NaN    NaN     9    16

In [ ]:
# Merge yang eqivalen dengan sql inner join
merge_df_inner = pd.merge(left=df1, right=df2, how='inner', left_on ='key', right_on='key')
print('Merge - inner \n :', merge_df_inner)

Merge - inner
 :   key  val1  val2  val3  val4
0  k5   200    20     7    12
1  k7     0   100     8    15

In [ ]:
# Merge yang eqivalen dengan sql outer join 
merge_df_outer = pd.merge(left=df1, right=df2, how='outer', left_on = 'key', right_on ='key')
print('Merge - Outer \n :', merge_df_outer )

Merge - Outer
 :    key   val1   val2  val3  val4
0   k5  200.0   20.0   7.0  12.0
1   k6  500.0   50.0   NaN   NaN
2   k7    0.0  100.0   8.0  15.0
3   k8  500.0   20.0   NaN   NaN
4   k9  100.0   10.0   NaN   NaN
5   k1    NaN    NaN   5.0  10.0
6   k4    NaN    NaN   6.0  11.0
7  k10    NaN    NaN   9.0  16.0

Marge Part II (digunakan untuk multi index) dengan cara reset index

In [ ]:
import pandas as pd
# Buat df1 dan df2
df1 = pd.DataFrame ({'key'  : ['k1','k2','k3','k4','k5'],
                     'val1' : [200, 500, 0, 500, 100],
                     'val2' : [30, 50, 100, 20, 10]}).set_index(['key','val2'])
print("Data Frame 1 \n :", df1)
df2 = pd.DataFrame ({'key' : ['k1','k3','k5','k7','k10'],
                     'val3':[1,2,3,4,5],
                     'val4':[6,7,8,8,10]}).set_index(['key','val3'])
print("Data Frame 2 \n :", df2)     

# Merge data frame dengan multi index
print(pd.merge(df1.reset_index(), df2.reset_index()))

Data Frame 1
 :           val1
key val2
k1  30     200
k2  50     500
k3  100      0
k4  20     500
k5  10     100
Data Frame 2
 :           val4
key val3
k1  1        6
k3  2        7
k5  3        8
k7  4        8
k10 5       10
  key  val2  val1  val3  val4
0  k1    30   200     1     6
1  k3   100     0     2     7
2  k5    10   100     3     8

Method .join()

In [ ]:
import pandas as pd
# Buat DataFrame d1 dan d2
df1 = pd.DataFrame({'key' : ['k1','k2','k3','k4','k5'],
                    'val1' : [200, 500, 0, 500, 100],
                    'val2' : [30, 50, 100, 20, 10]})
df2 = pd.DataFrame({'key' : ['k1','k3','k5','k7','k10'],
                    'val3' : [1,2,3,4,5], 
                    'val4' : [6,7,8,8,10]})

# Penerapan join dengan menggunakan set_index dan keyword how
join_df = df1.set_index('key').join(df2.set_index('key'), how='inner')
print(join_df)

     val1  val2  val3  val4
key
k1    200    30     1     6
k3      0   100     2     7
k5    100    10     3     8

Pivot, Melt, Stack & Unstack

In [ ]:
# DATA SET
import pandas as pd
#DataFrame
data = pd.DataFrame({'kelas' : 6*['A'] + 6*['B'],
                     'murid': 2*['A1'] + 2*['A2'] + 2*['A3'] + 2*['B1'] + 2*['B2'] + 2*['B3'],
                     'pelajaran': 6*['math','english'],
                     'nilai': [90,60,70,85,50,60,100,40,95,80,60,45]}, columns = ['kelas', 'murid', 'pelajaran','nilai'])
#unique Value pada Setiap kolom data
for column in data.columns:
    print('Unique value %s %s' % (column, data[column].unique()))

Unique value kelas ['A' 'B']
Unique value murid ['A1' 'A2' 'A3' 'B1' 'B2' 'B3']
Unique value pelajaran ['math' 'english']
Unique value nilai [ 90  60  70  85  50 100  40  95  80  45]

Pivot()

In [ ]:
import pandas as pd
# DataFrame 
data = pd.DataFrame({'kelas' : 6*['A'] + 6*['B'],
                     'murid': 2*['A1'] + 2*['A2'] + 2*['A3'] + 2*['B1'] + 2*['B2'] + 2*['B3'],
                     'pelajaran': 6*['math','english'],
                     'nilai': [90,60,70,85,50,60,100,40,95,80,60,45]}, columns = ['kelas', 'murid', 'pelajaran','nilai'])
# pivoting single columns mesurements
pivot1 = data.pivot(index='murid', columns='pelajaran', values='nilai')
print('pivot single columns measurements :\n', pivot1.head())

# pivoting multiple columns mesurements
pivot2 = data.pivot(index='murid', columns='pelajaran')
print('Pivot multiple columns mesurements :\n', pivot2.head())

pivot single columns measurements :
 pelajaran  english  math
murid
A1              60    90
A2              85    70
A3              60    50
B1              40   100
B2              80    95
Pivot multiple columns mesurements :
             kelas        nilai
pelajaran english math english math
murid
A1              A    A      60   90
A2              A    A      85   70
A3              A    A      60   50
B1              B    B      40  100
B2              B    B      80   95

pivot_table()

In [ ]:
import pandas as pd
data = pd.DataFrame({'kelas': 6*['A'] + 6*['B'],
                    'murid': 2*['A1'] + 2*['A2'] + 2*['A3'] + 2*['B1'] + 2*['B2'] + 2*['B3'],
                    'pelajaran': 6*['math','english'],
                    'nilai': [90,60,70,85,50,60,100,40,95,80,60,45]
                    }, columns= ['kelas','murid','pelajaran','nilai'])
# Creating Pivot and assgin pivt_tab dengan menggunakan keyord aggfunc
pivot_tab_mean = data.pivot_table(index='kelas', columns='pelajaran', values='nilai', aggfunc='mean')
print('Creating pivot_table aggfunc mean :\n', pivot_tab_mean)

# Creating Pivot and assign Pivot_tab dengan menggunakan keyord aggfunc 'median'
pivot_tab_median = data.pivot_table(index='kelas', columns='pelajaran', values='nilai', aggfunc='median')
print('Creating pivot_table aggfunc median :\n', pivot_tab_median)

Creating pivot_table aggfunc mean :
 pelajaran    english  math
kelas
A          68.333333  70.0
B          55.000000  85.0
Creating pivot_table aggfunc median :
 pelajaran  english  math
kelas
A               60    70
B               45    95

Melt Part I (digunakan untuk mengembalikan data yang telah di Pivot ke bentuk semula)

In [ ]:
import pandas as pd
data = pd.DataFrame({
  'kelas': 6*['A'] + 6*['B'],
  'murid': 2*['A1'] + 2*['A2'] + 2*['A3'] + 2*['B1'] + 2*['B2'] + 2*['B3'],
  'pelajaran': 6*['math','english'],
  'nilai': [90,60,70,85,50,60,100,40,95,80,60,45]
}, columns=['kelas','murid','pelajaran','nilai'])
# Mealakukan Reset Index
data_pivot_reset = data.pivot_table(index='kelas', columns='pelajaran', values='nilai').reset_index()
print('Pivoting Data frame dengan reset index :\n', data_pivot_reset)

Pivoting Data frame dengan reset index :
 pelajaran kelas    english  math
0             A  68.333333  70.0
1             B  55.000000  85.0

In [ ]:
# [1] Melting data pivot
data_melt_1 = pd.melt(data_pivot_reset)
print('hasil data pivot yang di melt :\n', data_melt_1)

hasil data pivot yang di melt :
   pelajaran      value
0     kelas          A
1     kelas          B
2   english  68.333333
3   english       55.0
4      math       70.0
5      math       85.0

In [ ]:
# [2] Melting data pivot dengan id vars
data_melt_2 = pd.melt(data_pivot_reset, id_vars= 'kelas')
print('hasil data yang di melt dengan id vars:\n', data_melt_2)

hasil data yang di melt dengan id vars:
   kelas pelajaran      value
0     A   english  68.333333
1     B   english  55.000000
2     A      math  70.000000
3     B      math  85.000000

Melt Part II

In [ ]:
import pandas as pd
data = pd.DataFrame({
  'kelas': 6*['A'] + 6*['B'],
  'murid': 2*['A1'] + 2*['A2'] + 2*['A3'] + 2*['B1'] + 2*['B2'] + 2*['B3'],
  'pelajaran': 6*['math','english'],
  'nilai': [90,60,70,85,50,60,100,40,95,80,60,45]
}, columns=['kelas','murid','pelajaran','nilai'])

# Pivoting Data Frame
data_pivot = data.pivot_table(index='kelas', columns='pelajaran', values='nilai', aggfunc='mean').reset_index()
print('Data pivot riset index :\n', data_pivot)

Data pivot riset index :
 pelajaran kelas    english  math
0             A  68.333333  70.0
1             B  55.000000  85.0

In [ ]:
# melting data frame data pivot dengan value variasi 
data_melt_3a = pd.melt(data_pivot, value_vars = ['math'])
print('Data pivot dengan value var math :\n', data_melt_3a)

Data pivot dengan value var math :
   pelajaran  value
0      math   70.0
1      math   85.0

In [ ]:
# melting data frame data pivot dengan value vars dan id vars
data_melt_3b = pd.melt(data_pivot, id_vars='kelas',  value_vars=['math'])
print('Data pivot dengan id var dan value var math :\n', data_melt_3b)

Data pivot dengan id var dan value var math :
   kelas pelajaran  value
0     A      math   70.0
1     B      math   85.0

In [ ]:
# melting data frame ddata pivot dengan id vars, value vars, var name, dan value name
data_melt_4 = pd.melt(data_pivot, id_vars='kelas', value_vars=['math', 'english'], var_name='pelajaran', value_name='nilai')
print('Data Pivot melt dengan lengkap semua variasinya :\n', data_melt_4)

Data Pivot melt dengan lengkap semua variasinya :
   kelas pelajaran      nilai
0     A      math  70.000000
1     B      math  85.000000
2     A   english  68.333333
3     B   english  55.000000

STUCK & UNSTUCK (harus set index terlebih dahulu)

In [ ]:
import pandas as pd
data = pd.DataFrame({
  'kelas': 6*['A'] + 6*['B'],
  'murid': 2*['A1'] + 2*['A2'] + 2*['A3'] + 2*['B1'] + 2*['B2'] + 2*['B3'],
  'pelajaran': 6*['math','english'],
  'nilai': [90,60,70,85,50,60,100,40,95,80,60,45]
}, columns=['kelas','murid','pelajaran','nilai'])
# Set index untuk kolom kelas, murid, pelajaran
data = data.set_index(['kelas','murid','pelajaran'])
print('Data set multi index data :\n', data)

Data set multi index data :
                        nilai
kelas murid pelajaran
A     A1    math          90
            english       60
      A2    math          70
            english       85
      A3    math          50
            english       60
B     B1    math         100
            english       40
      B2    math          95
            english       80
      B3    math          60
            english       45

In [ ]:
# Unstacking Data Frame
data_unstack_1 = data.unstack()
print('Data unstack 1 "\n', data_unstack_1)

Data unstack 1 "
               nilai
pelajaran   english math
kelas murid
A     A1         60   90
      A2         85   70
      A3         60   50
B     B1         40  100
      B2         80   95
      B3         45   60

In [ ]:
# unstack dengan specify level nama 
data_unstack_2 = data.unstack(level = 'murid')
print('Data unstack 2 specify level nama :\n', data_unstack_2)

Data unstack 2 specify level nama :
                 nilai
murid              A1    A2    A3     B1    B2    B3
kelas pelajaran
A     english    60.0  85.0  60.0    NaN   NaN   NaN
      math       90.0  70.0  50.0    NaN   NaN   NaN
B     english     NaN   NaN   NaN   40.0  80.0  45.0
      math        NaN   NaN   NaN  100.0  95.0  60.0

In [ ]:
# unstack dengan specify level position 
data_unstack_3 = data.unstack(level=1)
print('Data unstack specify level position :\n', data_unstack_3)

Data unstack specify level position :
                 nilai
murid              A1    A2    A3     B1    B2    B3
kelas pelajaran
A     english    60.0  85.0  60.0    NaN   NaN   NaN
      math       90.0  70.0  50.0    NaN   NaN   NaN
B     english     NaN   NaN   NaN   40.0  80.0  45.0
      math        NaN   NaN   NaN  100.0  95.0  60.0

Stack Unstack Part II (pakai data unstack level=1)

In [ ]:
import pandas as pd
data = pd.DataFrame({
  'kelas': 6*['A'] + 6*['B'],
  'murid': 2*['A1'] + 2*['A2'] + 2*['A3'] + 2*['B1'] + 2*['B2'] + 2*['B3'],
  'pelajaran': 6*['math','english'],
  'nilai': [90,60,70,85,50,60,100,40,95,80,60,45]
}, columns=['kelas','murid','pelajaran','nilai'])
data = data.set_index(['kelas', 'murid', 'pelajaran'])
data_unstack_3 = data.unstack(level=1)
print('Data frame unstack position :\n', data_unstack_3)

Data frame unstack position :
                 nilai
murid              A1    A2    A3     B1    B2    B3
kelas pelajaran
A     english    60.0  85.0  60.0    NaN   NaN   NaN
      math       90.0  70.0  50.0    NaN   NaN   NaN
B     english     NaN   NaN   NaN   40.0  80.0  45.0
      math        NaN   NaN   NaN  100.0  95.0  60.0

In [ ]:
# Stacking Data Frame
data_stack = data_unstack_3.stack()
print('stacked frame :\n', data_stack)

stacked frame :
                        nilai
kelas pelajaran murid
A     english   A1      60.0
                A2      85.0
                A3      60.0
      math      A1      90.0
                A2      70.0
                A3      50.0
B     english   B1      40.0
                B2      80.0
                B3      45.0
      math      B1     100.0
                B2      95.0
                B3      60.0

In [ ]:
# Tukar posisi index setelah stacking data frame 
data_swap = data_stack.swaplevel(1,2)
print('Posisi index yang telah ditukar :\n', data_swap)

Posisi index yang telah ditukar :
                        nilai
kelas murid pelajaran
A     A1    english     60.0
      A2    english     85.0
      A3    english     60.0
      A1    math        90.0
      A2    math        70.0
      A3    math        50.0
B     B1    english     40.0
      B2    english     80.0
      B3    english     45.0
      B1    math       100.0
      B2    math        95.0
      B3    math        60.0

In [ ]:
# Melakukan sort index pada stacking Dataframe 
data_sort = data_swap.sort_index()
print("Data yang indexnya telah di sorting :\n", data_sort)

Data yang indexnya telah di sorting :
                        nilai
kelas murid pelajaran
A     A1    english     60.0
            math        90.0
      A2    english     85.0
            math        70.0
      A3    english     60.0
            math        50.0
B     B1    english     40.0
            math       100.0
      B2    english     80.0
            math        95.0
      B3    english     45.0
            math        60.0

Aggregation & GroupBy


1.   Inspeksi Data

In [ ]:
import pandas as pd
global_air_quality = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/LO4/global_air_quality_4000rows.csv')
print('Lima data teratas:\n', global_air_quality.head())

Lima data teratas:
                           location       city country pollutant  value  \
0                  MOBILE-KICKAPOO    LINCOLN      US      pm10   7.00
1                  Oxford St Ebbes     Oxford      GB       no2  30.00
2                 BROADWAY (South)  St. Louis      US      pm25   6.10
3  Deen Dayal Nagar, Sagar - MPPCB      Sagar      IN      pm25  23.67
4                        Manglerud       Oslo      NO      pm10  27.06

                 timestamp   unit source_name   latitude  longitude  \
0  2017-01-18 16:00:00 UTC  g/m      AirNow  35.488400 -97.090280
1  2020-04-07 20:00:00 UTC  g/m       DEFRA  51.744804  -1.260278
2  2020-04-07 19:00:00 UTC  g/m      AirNow  38.542500 -90.263610
3  2020-04-07 18:30:00 UTC  g/m       caaqm  23.864016  78.802895
4  2020-04-07 20:00:00 UTC  g/m      Norway  59.898690  10.814950

   averaged_over_in_hours
0                    1.00
1                    1.00
2                    1.00
3                    0.25
4                    1.00

In [ ]:
# cek data terlebih dahulu
print(global_air_quality.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   location                3997 non-null   object
 1   city                    3966 non-null   object
 2   country                 4000 non-null   object
 3   pollutant               4000 non-null   object
 4   value                   4000 non-null   float64
 5   timestamp               4000 non-null   object
 6   unit                    4000 non-null   object
 7   source_name             4000 non-null   object
 8   latitude                4000 non-null   float64
 9   longitude               4000 non-null   float64
 10  averaged_over_in_hours  3634 non-null   float64
dtypes: float64(4), object(7)
memory usage: 343.9+ KB
None

In [ ]:
# count tanpa groupby
print(global_air_quality.count())

location                  3997
city                      3966
country                   4000
pollutant                 4000
value                     4000
timestamp                 4000
unit                      4000
source_name               4000
latitude                  4000
longitude                 4000
averaged_over_in_hours    3634
dtype: int64

In [ ]:
# count dengan groupby source name 
data_groupby = global_air_quality.groupby('source_name').count()
print('Data yang telah di groupby source name :\n', data_groupby.head())

Data yang telah di groupby source name :
              location  city  country  pollutant  value  timestamp  unit  \
source_name
ARPALAZIO          72    72       72         72     72         72    72
Agaar.mn           27    27       27         27     27         27    27
AirNow           1712  1681     1715       1715   1715       1715  1715
Andalucia          71    71       71         71     71         71    71
Anqing              4     4        4          4      4          4     4

             latitude  longitude  averaged_over_in_hours
source_name
ARPALAZIO          72         72                      72
Agaar.mn           27         27                       0
AirNow           1715       1715                    1715
Andalucia          71         71                      71
Anqing              4          4                       4

Groupby dan Agregasi dengan fungsi statistik dasar - part I

In [ ]:
import pandas as pd
# load data
gaq = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/LO4/global_air_quality_4000rows.csv')
# Create varible pullutan
pollutant = gaq[['country','city','pollutant','value']].pivot_table(index = ['country', 'city'], columns=['pollutant']).fillna(0)
print('Data pollutant :\n', pollutant.head())

Data pollutant :
                      value
pollutant               bc      co   no2   o3   pm10  pm25  so2
country city
AR      Buenos Aires   0.0     0.0   0.0  0.0    0.0  18.1  0.0
AU      Townsville     0.0     0.0   0.0  0.0    0.0   3.9  0.0
BA      Gorade        0.0   141.0  19.0  8.0    0.0   0.0  0.0
        Ilija         0.0     0.0   0.0  0.0  100.0   0.0  0.0
        Jajce          0.0  1508.0  25.0  6.0    9.0   0.0  0.0

In [ ]:
# Group by country dan terapkan mean())
pollutant_mean = pollutant.groupby('country').mean()
print('Data pollutant yang telah di groupby country dan nilai mean:\n', pollutant_mean.head())

Data pollutant yang telah di groupby country dan nilai mean:
           value                                                         \
pollutant    bc          co        no2        o3       pm10       pm25
country
AR          0.0    0.000000   0.000000  0.000000   0.000000  18.100000
AU          0.0    0.000000   0.000000  0.000000   0.000000   3.900000
BA          0.0  475.833333  19.500000  5.833333  40.333333   0.000000
CA          0.0    0.036818   0.000355  0.025963   0.836364   3.433601
CL          0.0    0.000000  21.000000  0.000000   0.000000   0.000000


pollutant        so2
country
AR          0.000000
AU          0.000000
BA         18.000000
CA          0.000091
CL          0.000000

In [ ]:
# Grop by country dan terapkan stdnya dan fillna(0)
pollutant_std = pollutant.groupby('country').std().fillna(0)
print('standart deviasi pollutant 5 teratas :\n', pollutant_std.head())

standart deviasi pollutant 5 teratas :
           value                                                        \
pollutant    bc          co        no2        o3       pm10      pm25
country
AR          0.0    0.000000   0.000000  0.000000   0.000000  0.000000
AU          0.0    0.000000   0.000000  0.000000   0.000000  0.000000
BA          0.0  536.925476  11.945711  8.207720  46.701891  0.000000
CA          0.0    0.089841   0.000750  0.019323   1.713052  2.286509
CL          0.0    0.000000   0.000000  0.000000   0.000000  0.000000


pollutant        so2
country
AR          0.000000
AU          0.000000
BA         30.403947
CA          0.000302
CL          0.000000

Group by dan Aggregasi dengan fungsi statistik dasar part II

In [ ]:
import pandas as pd
gaq = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/LO4/global_air_quality_4000rows.csv')
# Create variable pollutant
pollutant = gaq[['country', 'city','pollutant','value']].pivot_table(index = ['country','city'], columns = 'pollutant').fillna(0)
print(pollutant.head())

                     value
pollutant               bc      co   no2   o3   pm10  pm25  so2
country city
AR      Buenos Aires   0.0     0.0   0.0  0.0    0.0  18.1  0.0
AU      Townsville     0.0     0.0   0.0  0.0    0.0   3.9  0.0
BA      Gorade        0.0   141.0  19.0  8.0    0.0   0.0  0.0
        Ilija         0.0     0.0   0.0  0.0  100.0   0.0  0.0
        Jajce          0.0  1508.0  25.0  6.0    9.0   0.0  0.0

In [ ]:
# Group berdasarkan country dan terapkan agregasi sum
pollutant_sum = pollutant.groupby('country').sum()
print('Pollutant yang telah di jumlahkan berdasarkan country :\n', pollutant_sum.head())

Pollutant yang telah di jumlahkan berdasarkan country :
           value
pollutant    bc        co       no2         o3   pm10       pm25      so2
country
AR          0.0     0.000    0.0000   0.000000    0.0  18.100000    0.000
AU          0.0     0.000    0.0000   0.000000    0.0   3.900000    0.000
BA          0.0  2855.000  117.0000  35.000000  242.0   0.000000  108.000
CA          0.0     0.405    0.0039   0.285593    9.2  37.769608    0.001
CL          0.0     0.000   21.0000   0.000000    0.0   0.000000    0.000

In [ ]:
# Group berdasarkan country dan terapkan agregasi nunique (nunique digunakan untuk mencari unique value di setiap kelompok)
pollutant_nunique = pollutant.groupby('country').nunique()
print('Pollutant yang telah di group untuk kemudian dicari nilai unique per kelompoknya :\n', pollutant_nunique.head())

Pollutant yang telah di group untuk kemudian dicari nilai unique per kelompoknya :
           value
pollutant    bc co no2 o3 pm10 pm25 so2
country
AR            1  1   1  1    1    1   1
AU            1  1   1  1    1    1   1
BA            1  6   6  4    5    1   4
CA            1  3   4  9    4   10   2
CL            1  1   1  1    1    1   1

Groupby dan Aggregasi dengan Fungsi Statistik Dasar - Part dengan fungsi statstik min() dan max()

In [ ]:
import pandas as pd
gaq = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/LO4/global_air_quality_4000rows.csv")
pollutant = gaq[['country', 'city', 'pollutant','value']].pivot_table(index = ['country','city'], columns = 'pollutant').fillna(0)
print('Data Pollutant :\n', pollutant)

Data Pollutant :
                       value
pollutant                bc      co     no2      o3     pm10     pm25     so2
country city
AR      Buenos Aires    0.0     0.0   0.000   0.000    0.000  18.1000   0.000
AU      Townsville      0.0     0.0   0.000   0.000    0.000   3.9000   0.000
BA      Gorade         0.0   141.0  19.000   8.000    0.000   0.0000   0.000
        Ilija          0.0     0.0   0.000   0.000  100.000   0.0000   0.000
        Jajce           0.0  1508.0  25.000   6.000    9.000   0.0000   0.000
...                     ...     ...     ...     ...      ...      ...     ...
XK      Hani i Elezit   0.0   137.0   0.000  81.130   14.524   0.0000   2.704
        Mitrovice       0.0    56.0   4.306  65.391   24.414  18.7260  37.086
        Peje            0.0   852.0   0.000  23.858    0.000   0.0000   0.000
        Prishtine       0.0     0.0   4.240  85.079    0.000  11.8235   8.354
        Prizren         0.0     0.0   0.000   0.000    0.000   0.0000   1.125

[1133 rows x 7 columns]

In [ ]:
pollutant_first = pollutant.groupby('country').first()
print('item pertama 5 teratas groupby country :\n', pollutant_first.head())

item pertama 5 teratas groupby country :
           value
pollutant    bc       co      no2        o3 pm10  pm25  so2
country
AR          0.0    0.000   0.0000  0.000000  0.0  18.1  0.0
AU          0.0    0.000   0.0000  0.000000  0.0   3.9  0.0
BA          0.0  141.000  19.0000  8.000000  0.0   0.0  0.0
CA          0.0    0.285   0.0024  0.048333  0.0   3.9  0.0
CL          0.0    0.000  21.0000  0.000000  0.0   0.0  0.0

In [ ]:
pollutant_last = pollutant.groupby('country').last()
print('item terakhir 5 terbaah groupby country :\n', pollutant_last.head())

item terakhir 5 terbaah groupby country :
           value
pollutant    bc     co   no2     o3  pm10  pm25   so2
country
AR          0.0    0.0   0.0  0.000   0.0  18.1   0.0
AU          0.0    0.0   0.0  0.000   0.0   3.9   0.0
BA          0.0  292.0  29.0  0.000  96.0   0.0  78.0
CA          0.0    0.0   0.0  0.036   3.0   0.0   0.0
CL          0.0    0.0  21.0  0.000   0.0   0.0   0.0

Groupby dengan Multiple Aggregations (gabungan dari beberapa action)

In [ ]:
import pandas as pd
gaq = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/LO4/global_air_quality_4000rows.csv")
pollutant = gaq[['country','city','pollutant','value']].pivot_table(index = ['country','city'], columns = 'pollutant').fillna(0)
# Group berdasarkan country dan terapkan agregasi : min, median, mean, max
multi_agg = pollutant.groupby('country').agg(['min','median','mean','max'])
print('country yang di grup dan multiple agregasi :\n', multi_agg.head())

country yang di grup dan multiple agregasi :
           value                                                           \
pollutant    bc                    co                                no2
            min median mean  max  min median        mean       max   min
country
AR          0.0    0.0  0.0  0.0  0.0    0.0    0.000000     0.000   0.0
AU          0.0    0.0  0.0  0.0  0.0    0.0    0.000000     0.000   0.0
BA          0.0    0.0  0.0  0.0  0.0  355.0  475.833333  1508.000   0.0
CA          0.0    0.0  0.0  0.0  0.0    0.0    0.036818     0.285   0.0
CL          0.0    0.0  0.0  0.0  0.0    0.0    0.000000     0.000  21.0

                  ...                                                       \
pollutant         ...       pm10         pm25                          so2
          median  ...       mean    max   min median       mean   max  min
country           ...
AR           0.0  ...   0.000000    0.0  18.1   18.1  18.100000  18.1  0.0
AU           0.0  ...   0.000000    0.0   3.9    3.9   3.900000   3.9  0.0
BA          22.0  ...  40.333333  100.0   0.0    0.0   0.000000   0.0  0.0
CA           0.0  ...   0.836364    5.2   0.0    4.0   3.433601   6.0  0.0
CL          21.0  ...   0.000000    0.0   0.0    0.0   0.000000   0.0  0.0


pollutant
          median       mean     max
country
AR           0.0   0.000000   0.000
AU           0.0   0.000000   0.000
BA           5.5  18.000000  78.000
CA           0.0   0.000091   0.001
CL           0.0   0.000000   0.000

[5 rows x 28 columns]

Groupby dengan Custom Aggregations

In [ ]:
import pandas as pd
gaq = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/LO4/global_air_quality_4000rows.csv")
polltant = gaq[['country','city','pollutant','value']].pivot_table(index=['country','city'],columns='pollutant').fillna(0)
# Create sebuah function IQR
def data_range(series):
    Q1 = series.quantile(0.25)
    Q3 = series.quantile(0.75)
    return Q3-Q1
# Create berdasarkan country dan terapkan aggregasi dari fungsi : data_range
costum_agg = pollutant.groupby('country').agg(data_range)
print('costum agrregasi 5 teratas :\n', costum_agg.head())

costum agrregasi 5 teratas :
           value
pollutant    bc      co       no2        o3  pm10      pm25   so2
country
AR          0.0    0.00   0.00000  0.000000   0.0  0.000000   0.0
AU          0.0    0.00   0.00000  0.000000   0.0  0.000000   0.0
BA          0.0  297.75  14.25000  7.500000  79.0  0.000000  17.0
CA          0.0    0.00   0.00025  0.035708   0.5  3.876471   0.0
CL          0.0    0.00   0.00000  0.000000   0.0  0.000000   0.0

Groupby dengan Custom Aggregations by dict

In [ ]:
import pandas as pd
gaq = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/LO4/global_air_quality_4000rows.csv")
pollutant = gaq[['country','city','pollutant','value']].pivot_table(index=['country','city'],columns='pollutant').fillna(0)
print('Data pollutant (5 teratas):\n', pollutant.head())
# Fungsi IQR
def iqr(series):
    return series.quantile(0.75) - series.quantile(0.25)
# Create aggregation using dictionary
costum_agg_dict = pollutant['value'][['pm10','pm25','so2']].groupby('country').agg({'pm10':'median', 'pm25':iqr, 'so2':iqr})
print('\n cetak 5 data teratas costm agg dict :\n', costum_agg_dict.head())

Data pollutant (5 teratas):
                      value
pollutant               bc      co   no2   o3   pm10  pm25  so2
country city
AR      Buenos Aires   0.0     0.0   0.0  0.0    0.0  18.1  0.0
AU      Townsville     0.0     0.0   0.0  0.0    0.0   3.9  0.0
BA      Gorade        0.0   141.0  19.0  8.0    0.0   0.0  0.0
        Ilija         0.0     0.0   0.0  0.0  100.0   0.0  0.0
        Jajce          0.0  1508.0  25.0  6.0    9.0   0.0  0.0

 cetak 5 data teratas costm agg dict :
 pollutant  pm10      pm25   so2
country
AR          0.0  0.000000   0.0
AU          0.0  0.000000   0.0
BA         23.0  0.000000  17.0
CA          0.0  3.876471   0.0
CL          0.0  0.000000   0.0

Time series in Pandas



1. Load dataset astime series

In [ ]:
import pandas as pd
# load dataset
gaq = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/LO4/global_air_quality_4000rows.csv', parse_dates=True, index_col='timestamp')
print(gaq.head())
print('info')
print(gaq.info())

                                                  location       city country  \
timestamp
2017-01-18 16:00:00+00:00                  MOBILE-KICKAPOO    LINCOLN      US
2020-04-07 20:00:00+00:00                  Oxford St Ebbes     Oxford      GB
2020-04-07 19:00:00+00:00                 BROADWAY (South)  St. Louis      US
2020-04-07 18:30:00+00:00  Deen Dayal Nagar, Sagar - MPPCB      Sagar      IN
2020-04-07 20:00:00+00:00                        Manglerud       Oslo      NO

                          pollutant  value   unit source_name   latitude  \
timestamp
2017-01-18 16:00:00+00:00      pm10   7.00  g/m      AirNow  35.488400
2020-04-07 20:00:00+00:00       no2  30.00  g/m       DEFRA  51.744804
2020-04-07 19:00:00+00:00      pm25   6.10  g/m      AirNow  38.542500
2020-04-07 18:30:00+00:00      pm25  23.67  g/m       caaqm  23.864016
2020-04-07 20:00:00+00:00      pm10  27.06  g/m      Norway  59.898690

                           longitude  averaged_over_in_hours
timestamp
2017-01-18 16:00:00+00:00 -97.090280                    1.00
2020-04-07 20:00:00+00:00  -1.260278                    1.00
2020-04-07 19:00:00+00:00 -90.263610                    1.00
2020-04-07 18:30:00+00:00  78.802895                    0.25
2020-04-07 20:00:00+00:00  10.814950                    1.00
info
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4000 entries, 2017-01-18 16:00:00+00:00 to 2017-01-08 08:00:00+00:00
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   location                3997 non-null   object
 1   city                    3966 non-null   object
 2   country                 4000 non-null   object
 3   pollutant               4000 non-null   object
 4   value                   4000 non-null   float64
 5   unit                    4000 non-null   object
 6   source_name             4000 non-null   object
 7   latitude                4000 non-null   float64
 8   longitude               4000 non-null   float64
 9   averaged_over_in_hours  3634 non-null   float64
dtypes: float64(4), object(6)
memory usage: 343.8+ KB
None

Convert to date time

In [ ]:
import pandas as pd
gaq = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/LO4/global_air_quality_4000rows.csv')
print('sebelum di ubah menjadi datetimes :\n', gaq.head())

sebelum di ubah menjadi datetimes :
                           location       city country pollutant  value  \
0                  MOBILE-KICKAPOO    LINCOLN      US      pm10   7.00
1                  Oxford St Ebbes     Oxford      GB       no2  30.00
2                 BROADWAY (South)  St. Louis      US      pm25   6.10
3  Deen Dayal Nagar, Sagar - MPPCB      Sagar      IN      pm25  23.67
4                        Manglerud       Oslo      NO      pm10  27.06

                 timestamp   unit source_name   latitude  longitude  \
0  2017-01-18 16:00:00 UTC  g/m      AirNow  35.488400 -97.090280
1  2020-04-07 20:00:00 UTC  g/m       DEFRA  51.744804  -1.260278
2  2020-04-07 19:00:00 UTC  g/m      AirNow  38.542500 -90.263610
3  2020-04-07 18:30:00 UTC  g/m       caaqm  23.864016  78.802895
4  2020-04-07 20:00:00 UTC  g/m      Norway  59.898690  10.814950

   averaged_over_in_hours
0                    1.00
1                    1.00
2                    1.00
3                    0.25
4                    1.00

In [ ]:
gaq_timestamps= pd.read_csv('https://storage.googleapis.com/dqlab-dataset/LO4/global_air_quality_4000rows.csv', parse_dates=True, index_col='timestamp')
# ubah menjadi datetime
gaq['timestamp'] = pd.to_datetime(gaq['timestamp'])
gaq = gaq.set_index('timestamp')
print('sudah diubah dalam bentu datetimes :\n', gaq.head())

sudah diubah dalam bentu datetimes :
                                                   location       city country  \
timestamp
2017-01-18 16:00:00+00:00                  MOBILE-KICKAPOO    LINCOLN      US
2020-04-07 20:00:00+00:00                  Oxford St Ebbes     Oxford      GB
2020-04-07 19:00:00+00:00                 BROADWAY (South)  St. Louis      US
2020-04-07 18:30:00+00:00  Deen Dayal Nagar, Sagar - MPPCB      Sagar      IN
2020-04-07 20:00:00+00:00                        Manglerud       Oslo      NO

                          pollutant  value   unit source_name   latitude  \
timestamp
2017-01-18 16:00:00+00:00      pm10   7.00  g/m      AirNow  35.488400
2020-04-07 20:00:00+00:00       no2  30.00  g/m       DEFRA  51.744804
2020-04-07 19:00:00+00:00      pm25   6.10  g/m      AirNow  38.542500
2020-04-07 18:30:00+00:00      pm25  23.67  g/m       caaqm  23.864016
2020-04-07 20:00:00+00:00      pm10  27.06  g/m      Norway  59.898690

                           longitude  averaged_over_in_hours
timestamp
2017-01-18 16:00:00+00:00 -97.090280                    1.00
2020-04-07 20:00:00+00:00  -1.260278                    1.00
2020-04-07 19:00:00+00:00 -90.263610                    1.00
2020-04-07 18:30:00+00:00  78.802895                    0.25
2020-04-07 20:00:00+00:00  10.814950                    1.00

Downsampling Data

1.   daily to monthly
2.   monthly to yearly

In [ ]:
import pandas as pd
gaq = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/LO4/global_air_quality_4000rows.csv')
gaq['timestamp'] = pd.to_datetime(gaq['timestamp'])
gaq = gaq.set_index(gaq['timestamp'])
print('Dataset yang belum di donsampling :\n', gaq.head())

Dataset yang belum di donsampling :
                                                   location       city country  \
timestamp
2017-01-18 16:00:00+00:00                  MOBILE-KICKAPOO    LINCOLN      US
2020-04-07 20:00:00+00:00                  Oxford St Ebbes     Oxford      GB
2020-04-07 19:00:00+00:00                 BROADWAY (South)  St. Louis      US
2020-04-07 18:30:00+00:00  Deen Dayal Nagar, Sagar - MPPCB      Sagar      IN
2020-04-07 20:00:00+00:00                        Manglerud       Oslo      NO

                          pollutant  value                 timestamp   unit  \
timestamp
2017-01-18 16:00:00+00:00      pm10   7.00 2017-01-18 16:00:00+00:00  g/m
2020-04-07 20:00:00+00:00       no2  30.00 2020-04-07 20:00:00+00:00  g/m
2020-04-07 19:00:00+00:00      pm25   6.10 2020-04-07 19:00:00+00:00  g/m
2020-04-07 18:30:00+00:00      pm25  23.67 2020-04-07 18:30:00+00:00  g/m
2020-04-07 20:00:00+00:00      pm10  27.06 2020-04-07 20:00:00+00:00  g/m

                          source_name   latitude  longitude  \
timestamp
2017-01-18 16:00:00+00:00      AirNow  35.488400 -97.090280
2020-04-07 20:00:00+00:00       DEFRA  51.744804  -1.260278
2020-04-07 19:00:00+00:00      AirNow  38.542500 -90.263610
2020-04-07 18:30:00+00:00       caaqm  23.864016  78.802895
2020-04-07 20:00:00+00:00      Norway  59.898690  10.814950

                           averaged_over_in_hours
timestamp
2017-01-18 16:00:00+00:00                    1.00
2020-04-07 20:00:00+00:00                    1.00
2020-04-07 19:00:00+00:00                    1.00
2020-04-07 18:30:00+00:00                    0.25
2020-04-07 20:00:00+00:00                    1.00

In [ ]:
# donsampling dari daily to eekly
gaq_eekly = gaq.resample('W').max()
print('Data yang telah di donsampling dari daily to eekly :\n', gaq_eekly.head())

Data yang telah di donsampling dari daily to eekly :
                           country pollutant  value                 timestamp  \
timestamp
2014-05-18 00:00:00+00:00      PH      pm25    9.7 2014-05-13 03:00:00+00:00
2014-05-25 00:00:00+00:00     NaN       NaN    NaN                       NaT
2014-06-01 00:00:00+00:00     NaN       NaN    NaN                       NaT
2014-06-08 00:00:00+00:00     NaN       NaN    NaN                       NaT
2014-06-15 00:00:00+00:00     NaN       NaN    NaN                       NaT

                            unit source_name  latitude  longitude  \
timestamp
2014-05-18 00:00:00+00:00  g/m     Spartan    14.635     121.08
2014-05-25 00:00:00+00:00    NaN         NaN       NaN        NaN
2014-06-01 00:00:00+00:00    NaN         NaN       NaN        NaN
2014-06-08 00:00:00+00:00    NaN         NaN       NaN        NaN
2014-06-15 00:00:00+00:00    NaN         NaN       NaN        NaN

                           averaged_over_in_hours
timestamp
2014-05-18 00:00:00+00:00                     1.0
2014-05-25 00:00:00+00:00                     NaN
2014-06-01 00:00:00+00:00                     NaN
2014-06-08 00:00:00+00:00                     NaN
2014-06-15 00:00:00+00:00                     NaN

/usr/local/lib/python3.7/dist-packages/pandas/core/apply.py:577: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  return f(*args, **kwargs)

In [ ]:
# Donsampling dari daily to quarterly
gaq_quarter = gaq.resample('Q').min()
print('Data yang telah di donsampling dari daily ke quarterly :\n', gaq_quarter.head())

Data yang telah di donsampling dari daily ke quarterly :
                           country pollutant  value                 timestamp  \
timestamp
2014-06-30 00:00:00+00:00      PH      pm25    9.7 2014-05-13 03:00:00+00:00
2014-09-30 00:00:00+00:00      US      pm25    7.1 2014-08-12 20:00:00+00:00
2014-12-31 00:00:00+00:00     NaN       NaN    NaN                       NaT
2015-03-31 00:00:00+00:00     NaN       NaN    NaN                       NaT
2015-06-30 00:00:00+00:00      AR      pm25   18.1 2015-04-15 00:00:00+00:00

                            unit source_name  latitude  longitude  \
timestamp
2014-06-30 00:00:00+00:00  g/m     Spartan    14.635    121.080
2014-09-30 00:00:00+00:00  g/m     Spartan    37.132    -86.148
2014-12-31 00:00:00+00:00    NaN         NaN       NaN        NaN
2015-03-31 00:00:00+00:00    NaN         NaN       NaN        NaN
2015-06-30 00:00:00+00:00  g/m     Spartan   -34.560    -58.506

                           averaged_over_in_hours
timestamp
2014-06-30 00:00:00+00:00                     1.0
2014-09-30 00:00:00+00:00                     1.0
2014-12-31 00:00:00+00:00                     NaN
2015-03-31 00:00:00+00:00                     NaN
2015-06-30 00:00:00+00:00                     1.0

/usr/local/lib/python3.7/dist-packages/pandas/core/apply.py:577: FutureWarning: Dropping invalid columns in DataFrameGroupBy.min is deprecated. In a future version, a TypeError will be raised. Before calling .min, select only columns which should be valid for the function.
  return f(*args, **kwargs)

Upsampling Data

In [ ]:
import pandas as pd
gaq = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/LO4/global_air_quality_4000rows.csv')
gaq['timestamp'] = pd.to_datetime(gaq['timestamp'])
gaq = gaq.set_index(['timestamp'])
# upsampling dari daily to hourly 
gaq_hour = gaq.resample('H').mean()
print('Dataset yang telah di upsampling :\n', gaq_hour.head())

Dataset yang telah di upsampling :
                            value  latitude  longitude  averaged_over_in_hours
timestamp
2014-05-13 03:00:00+00:00    9.7    14.635     121.08                     1.0
2014-05-13 04:00:00+00:00    NaN       NaN        NaN                     NaN
2014-05-13 05:00:00+00:00    NaN       NaN        NaN                     NaN
2014-05-13 06:00:00+00:00    NaN       NaN        NaN                     NaN
2014-05-13 07:00:00+00:00    NaN       NaN        NaN                     NaN

Resampling data by freuency ( contoh 2 minggu seali, 5 minggu sekali, 6 tahun sekali)

In [ ]:
import pandas as pd
gaq = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/LO4/global_air_quality_4000rows.csv')
gaq['timestamp'] = pd.to_datetime(gaq['timestamp'])
gaq = gaq.set_index('timestamp')
# resample dari daily ke 2 monthly (2 bulan sekali), hitung rata-rata, dan fill dengan ='bfill'
gaq_2m = gaq.resample('2M').mean().fillna(method='bfill')
print('Dataset yang telah di resampling :\n', gaq_2m.head())

Dataset yang telah di resampling :
                            value  latitude  longitude  averaged_over_in_hours
timestamp
2014-05-31 00:00:00+00:00    9.7    14.635    121.080                     1.0
2014-07-31 00:00:00+00:00    7.1    37.132    -86.148                     1.0
2014-09-30 00:00:00+00:00    7.1    37.132    -86.148                     1.0
2014-11-30 00:00:00+00:00   18.1   -34.560    -58.506                     1.0
2015-01-31 00:00:00+00:00   18.1   -34.560    -58.506                     1.0